/*  
    Created: RAP - March 2017 for March Release
    Purpose: PD-454 - Action - Lien Tab - Lien Inventory Component

History: 

    Updated: lmsw - August 2017
    Purpose: PD-644 - Modify Header links to go to a report

    Updated: Marc Dysart - Sept 2017 for September Release
    Purpose: PD-1043 - Action Page Cleanup
*/

.THIS {
}
.THIS .hide {
	display: none;
}
.THIS .slds-tabs--path__item+.slds-is-current:before {
    background: rgb(0, 112, 210);
}
.THIS .listcontent {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 0px;
    border-left: rgb(216, 221, 230) 1px solid;
    word-wrap: normal;
    margin-top: 3px;
    margin-bottom: 3px;
}
.THIS .item-count {
    text-align: right;
    position: absolute;
    right: 4px;
}
.THIS .left {
    text-align: left;
    left: 0;
}
.THIS .gridEntry {
    margin: 0;
    padding: 0;
    border: rgb(0, 0, 0) 1px solid;
    width: 100%;
	border-collapse: collapse;
}
.THIS .middle {
	margin-bottom: 10px;
}
.THIS .block {
	display: block;
}
.THIS .gridHeader {
    margin: 0;
    padding: 2;
    vertical-align: middle;
    border: rgb(0, 0, 0) 1px solid;
    width: 100%;
	border-collapse: collapse;
}
.THIS .interior {
	background: #ffffff;
    width: 100%
}
.THIS .buttons {
    background: #ffffff;
	border: 0;
	margin-bottom: 8px;
}
.THIS .around {
    margin-left: 2px;
    margin-right: 10px;
}
/*  PD-644  */
.THIS .noLinkCursor {
    cursor: default;
}

/* PD-1043 */
/*Lightning Card Styling*/

.THIS .slds-icon_container {
    font-weight: 900;
    padding-left: 0.5rem;
}


.THIS .alert-icon {
    background: #679ef0;
    padding: 0.1rem 0.25rem .25rem .25rem;
    font-size: .8rem;
}

.THIS .alert-icon use {
    fill:t(whiteColor);;
}

article.slds-card.THIS {
    border: 2px solid t(grayColor)!important;
}