/*Tabs*/
.THIS .slds-tabs_default__nav,.THIS .slds-tabs--default__nav{
	border-bottom: 4px solid rgb(212, 212, 212);
}

.THIS li.slds-tabs--default__item, .THIS li.slds-tabs_default__item {
	text-transform: uppercase;
	color: rgb(105, 105, 105);
	font-size: 1rem;
    font-weight: 700;
    text-overflow: ellipsis;
    font-family: Montserrat;
    padding-left: 0;
    padding-right: 1.5rem;
}

.THIS .slds-tabs_default__item.slds-active a::after, .THIS .slds-tabs_default__item.slds-is-active a::after, .THIS .slds-tabs--default__item.slds-active::after, .THIS .slds-tabs--default__item.slds-is-active::after {
	/*border-bottom: 4px solid t(yellowColor);*/
	/*margin-bottom: -0.25rem;*/

}

.THIS li.slds-tabs--default__item.slds-active a, .THIS li.slds-tabs_default__item.slds-active a {
	color: #000;
	border-bottom: 4px solid t(yellowColor);
	margin-bottom: -.3rem;
	}

.THIS li.slds-tabs--default__item:hover, .THIS li.slds-tabs_default__item:hover {
	color: t(yellowColor);
}

.THIS a.slds-tabs--default__link {
	color: rgb(105, 105, 105);
}

.THIS a.slds-tabs--default__link:hover {
	color: t(yellowColor);
}

.THIS .slds-tabs--default__item:hover::after, .THIS .slds-tabs-default__item.slds-is-active::after {
    background-color: #fff;
}

.THIS .slds-tabs_default__item.slds-active::after, .THIS .slds-tabs_default__item.slds-is-active::after, .THIS .slds-tabs--default__item.slds-active::after, .THIS .slds-tabs--default__item.slds-is-active::after {
	background-color: #fff;
}

/*Needs Attention */
.THIS .needs-attention-icon use {
	fill:t(redColor);
}

.THIS .alert-tab {
	position: relative;
    right: 1.6rem;
    }

 .THIS .no-alert-tab {
	display: none;
    }

 /* This prevents tabset menu from changing positions on screen
    when moving between tabs whose pages vary in height */
 .THIS.tabset, .THIS .tabset {
	 min-height: 80rem;
 }