/* 
	Created: Marc Dysart - June 2017 for July Release
    Purpose: PD-814 - Creation of Portal Header Component

History

	Created: lmsw - January 2018 for January Release
	Purpose: Add Matter Report Links and update to use design tokens
*/

/********************************/
/***Menu when loaded initially***/
/********************************/

.THIS.menu-bar {
	background: t(grayMenuColor);
	
}
.THIS ul {
	list-style-type: none;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.THIS li a {
	display: inline-block;
	color: t(whiteBase);
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
	text-transform: uppercase;
}

.THIS li.menu-icon-section a {
	padding: 5px 8px;
}

.THIS li {
	float: left;
}

.THIS li#dropdown-menu, .THIS .menu-icon{
	display: inline-block;
}
/*PD-1320*/
.THIS li#dropdown-report, .THIS .menu-icon{
	display: inline-block;
}
.THIS .menu-icon {
	color: t(whiteBase);
}

.THIS.hide-matter-list {
	display: none;
}

.THIS #matter-list.list-style {
	margin: auto 7rem;
}

/*PD-1066*/
.THIS li.word-menu-item {
    position: relative;
    top: 0.10rem;
 }

/*PD-1320*/
.THIS .menuBarItem {
	position: relative;
	padding-top: 0.10rem;
	padding-bottom: .2rem;
}
/******************/
/***Hover colors***/
/******************/

.THIS li:hover, .THIS li a:hover, .THIS .menu-icon-section:hover .menu-icon  {
	background: t(whiteBase);
	color: t(blackBase);
}

.THIS .menu-icon:hover{ 
	color: t(grayMenuColor);
}

.THIS #dropdown-menu a:hover {
	background-color: t(grayHoverColor)
}
/*PD-1320*/
.THIS #dropdown-report a:hover {
	background-color: t(grayHoverColor)
}

/*PD-1320*/
.THIS .menuBarItem:hover {
	color: t(blackBase);
}

/***********************/
/*****Dropdown Menu*****/
/***********************/
.THIS #dropdown-menu{
	display: none;
	background: t(whiteBase);
	/*border: solid #878887 2px;*/
	position: absolute;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 99;
 }
 /*PD-1320*/
 .THIS #dropdown-report{
	display: none;
	background: t(whiteBase);
	position: absolute;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 99;
 }

 .THIS #dropdown-menu a  {
    color: t(blackBase);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/*PD-1320*/
.THIS #dropdown-report a  {
    color: t(blackBase);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.THIS .menu-icon-section:hover #dropdown-menu  {
    display: block;
}
/*PD-1320*/
.THIS .menu-icon-section:hover #dropdown-report {
    display: block;
}
/*PD-1320*/
.THIS .menu-icon-section:hover .menuBarItem {
    color: t(blackBase);
}

/***********************/
/****Responsiveness*****/
/***********************/

@media screen and (max-width: 615px) {
	.THIS  li.word-menu-item {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.THIS #matter-list {
		margin: auto 15rem;
	}
}