/*
	Created: lmsw August 2017
	Purpose: PD-965 Custom InjuryLien related list on the Lien page


History: 
	Updated: Marc Dysart August 2017
	Purpose: PD-965 Custom InjuryLien related list on the Lien page

	Updated: lmsw - Sept 2017 for Sept Release
	Purpose: PD-965 Modify drop down menu to follow standard

	Updated: lmsw -Sept 2017 for Sept Release
    Purpose: PD-965 style for disable injury

    Updated: lmsw - September 2017 for Septempber Release
    Purpose: Refactor to fix view

*/

/* This makes the dropdown text the same color as in standard */
.THIS.slds-dropdown__item>a, .THIS .slds-dropdown__item>a {
    color: t(colorTextButtonDefault);
}
/* This makes the last dropdown menu go up instead of down. */
.THIS tr:last-child .slds-dropdown-trigger .slds-dropdown {
    top: inherit;
    bottom: 0 !important;
}
/* This creates the light rounded-corner border */
article.slds-card.THIS {
    border: 1px solid t(grayBorderColor) !important;
}
/* letter-spacing is set to 0rem to force letters in headers to be closer together, as it appears in standard components */
.THIS.headerText, .THIS .headerText {
    letter-spacing: 0rem;
}
/* This puts some extra padding below the table so the dropdown isn't obscured */
.THIS.injuryLienTable, .THIS .injuryLienTable {
    padding-bottom: 2.2rem;
}

/* This puts some extra line spacing in the rows */
.THIS.injuryLienTable td, .THIS .injuryLienTable td {
    padding: .5rem .5rem;
}
/* This puts some padding to the left of the icon, and the right of the button */
.THIS .slds-card__header {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
/* This adds some padding on the left side of the message displayed when there are no AwardLiens */
.THIS .noInjuryLiensMessage {
    padding-left: 1rem;
}
.THIS .required {
	color: red;
}

/******************************/
/*  InjuryLien Table style  */
/******************************/
.THIS .ddMenu {
	overflow: visible;
}

/******************************/
/*  Confirmation Modal style  */
/******************************/
.THIS .slds-modal__header {
	background: #fff;
	color: #000;
}
.THIS .slds-modal__container {
	margin-top: 0rem;
	padding: 1.0rem;
}


/*  PD - 965 */
/***********************************/
/*  Create InjuryLien Modal style  */
/***********************************/

.THIS .lien-name {
	padding-bottom: 1rem;
}

.THIS .slds-modal__container.newInjuryLien {
	width: 100%;
}

.THIS .injury-list {
	padding-left:25%;
}

.THIS .uiInput.uiInputRadio {
	padding-top: 0.2rem;
}

.THIS .slds-form-element__label {
	padding-left: 0.5rem;
}

.THIS .new-injury {
	margin-left: 25%;
}
.THIS .disableInjury {
	color: t(colorTextIconDefaultDisabled);
	font-style: italic ;
}