/*
   	Created: Marc Dysart - Sept 2017 for Sept Release
    Purpose: PD-1024 - Fee Related List on Claimant Page
   */ 

.THIS .fee-discount-section {
    background-color: t(colorBackgroundRowHover);
    font-style: italic;
}


.THIS button.slds-button.slds-button--icon-border.slds-button--icon-small {

    position: absolute;
    left: -2rem;
    top: -0.75rem;
}

.THIS .slds-icon_container {
	font-weight: 900;
	padding-left: 0.5rem;
}


.THIS .fee-icon {
    background: t(greenColor);
    padding: 0.1rem 0.25rem .25rem .25rem;
    font-size: .8rem;
}

.THIS .fee-icon use {
    fill:t(whiteColor);;
}

article.slds-card.THIS {
	border: 2px solid t(grayColor)!important;
}


.THIS th.slds-grid.slds-truncate, .THIS th.slds-is-sortable.slds-col_padded:first-child, .THIS td.slds-truncate.total {
    padding-left: 1.5rem;
}

.THIS tr.slds-hint-parent.sum td {
    border-top: 2px solid black;
    font-style: italic;
    padding-bottom: 1.5rem;
}

.THIS tr.slds-hint-parent.sum td:last-child {
    font-style: normal;
}

.THIS tbody td:nth-child(4), .THIS tbody td:nth-child(5) {
    text-align: right;
    padding-right: 2.5rem;
}

.THIS th.slds-is-sortable.slds-col_padded:nth-child(4), .THIS th.slds-is-sortable.slds-col_padded:last-child {
    text-align: right;
    padding-right: 1.0rem;

}

.THIS .slds-button_neutral {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.THIS tr:nth-last-child(2) .slds-dropdown-trigger .slds-dropdown {
	top: inherit;
	bottom: 0!important;
}

.THIS .noFees {
    padding-left: 1rem;
}

.THIS tr.fee-discount-section.fee-discount-explanation td, .THIS tr.fee-discount-section.fee-discount-explanation th {
     border-top: 2px solid t(colorBackgroundRowHover);
}