/* This makes the dropdown text the same color as in standard */
.THIS .slds-dropdown__item>a {
    color: t(colorTextButtonDefault);
}

/* letter-spacing is set to 0rem to force letters in headers to be closer together, as it appears in standard components */
.THIS .headerText {
    letter-spacing: 0rem;
}

/* This puts some extra padding below the tables so the dropdown isn't obscured */
.THIS .internalNeedsAttentionTable, .THIS .portalNeedsAttentionTable {
    padding-bottom: 2rem;
}

/* This puts some extra line spacing in the rows */
.THIS .internalNeedsAttentionTable td, .THIS .portalNeedsAttentionTable td {
    padding: .5rem .5rem;
}

/* This makes the last dropdown menu go up instead of down. */
.THIS tr:last-child .slds-dropdown-trigger .slds-dropdown {
    top: inherit;
    bottom: 0 !important;
}

/* This creates the light rounded-corner border */
article.slds-card.THIS {
    border: 1px solid t(grayBorderColor) !important;
}

/* This puts some padding to the left of the icon, and the right of the button */
.THIS .slds-card__header {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

/* This adds some padding on the left side of the message displayed when there are no Needs Attention */
.THIS .noNeedsAttentionsMessage {
    padding-left: 1rem;
}

/* This adds a thicker divider to visually separate the 'Other' rows from the 'Current' rows */
.THIS .firstOtherRowTd {
    border-top-width: 1rem;
}