.THIS.row {
    border-width: 1px;
    border-style: solid;
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
}

.THIS .rowHeader {
    margin-bottom: .25rem;

    /* Flex container properties */
    display: flex;
    flex-direction: row;
}

.THIS .rowHeaderExpandCollapse {
    width: 10%;
    margin-top: -.25rem;

    /* Flex child properties */
    /* (none) */
}

.THIS .rowHeaderLienType {
    width: 30%;

    /* Flex child properties */
    /* (none) */
}

.THIS .rowHeaderTotalInventory {
    width: 20%;

    /* Flex child properties */
    /* (none) */
}

.THIS .rowHeaderCleared {
    width: 20%;

    /* Flex child properties */
    /* (none) */
}

.THIS .rowHeaderPending {
    width: 20%;

    /* Flex child properties */
    /* (none) */
}

.THIS .rowBody {
}

/* This makes the "arrow" part of the stage path the same color as the rest of the path */
.THIS .slds-tabs_path__item+.slds-is-current:before {
    background: t(colorBackgroundChromeMobile);
}

.THIS .inactive {
    display: none;
}

.THIS .inactiveLink {
    pointer-events: none;
    cursor: default;
}