.THIS header.slds-card__header.slds-grid {
	background: t(grayColor);
	padding-top: 0.1rem;
	padding-left: 0.5rem;
}

.THIS span.slds-icon_container {
    padding-bottom: .2rem;
    padding-top: .4rem;
    padding-left: .2rem;
    padding-right: 0.1rem;
}

.THIS img.slds-icon {
    margin-right: 0.5rem;
}

.THIS .slds-card__footer {
	background: t(grayColor);
}

.THIS .award-icon {
	background: t(yellowColor);
	padding: 0.2rem auto;
}

.THIS img.slds-icon {
    margin-right: 0.5rem;
}

.THIS .card-title {
    padding: .4rem 0 .5rem .1rem;
}

.THIS button.slds-button.expand-all {
    position: relative;
    top: 1rem;
    font-size: medium;
}

.THIS .subcategory {
	background-color: t(grayColor);
}

.THIS .subcategory .slds-truncate.sub-title {
	padding-left: 1.5rem;
}

.THIS .hideIcon, .THIS .hiderow {
	display: none;
}

.THIS svg.slds-icon.slds-icon-text-default.slds-icon--x-small.slds-icon {
    position: relative;
    top: -0.1rem;
}

.THIS .slds-table_cell-buffer tr > th:first-child {
    padding-left: 2.0rem;
}

.THIS .slds-table_cell-buffer tr.has-details > th:first-child {
    padding-left: 0.4rem;
}

.THIS .award-name {
	font-size: xx-small;
}

.THIS td .slds-truncate, .THIS .award-title {
	text-align: right;
}
.THIS .award-title, .THIS .award-description {
	font-weight: bold;
	text-decoration: underline;
}

.THIS .no-awards {
    padding-left: 3.5rem;
}

.THIS .award-not-cleared {
	font-size: small;
}

.THIS .fee-section {
	font-size: small;
	/*padding-left: 1.6rem;*/
}