/*Table header*/
.THIS .claimant-list-icon {
	background: t(purpleColor);
}

.THIS .slds-media__figure {
	padding-right: 1rem;
}

.THIS h1.slds-page-header__title {
    margin-top: 0.4rem;
    color: t(purpleColor);
}

.THIS li.slds-breadcrumb__item {
	color: t(purpleColor);
}

.THIS a.slds-page-header__title.slds-text-color--default.slds-p-right--x-small {
	color: t(purpleColor);
}

.THIS .listViewStatusInfo {
	padding: 1rem 0rem;
}
/*Status Circle*/
.THIS .statuscircle::before {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	content: '';
	display: inline-block;
	position: relative;
	top:0.1rem;
	left:-0.5rem;

}
.THIS .circleNotReady::before {
	background: t(yellowColor);
}

.THIS .circleCleared::before {
	background: t(purpleColor);
}

.THIS .circleHoldbackleft {
	width: 0.5rem;
	height: 1rem;
	background: t(yellowColor);
	content: '';
	display: inline-block;
	position: relative;
	top:0.2rem;
	right:0.94rem;
	border-bottom-left-radius: 1rem;
  	border-top-left-radius: 1rem;
}

.THIS .circleHoldbackright::before {
	width: 0.5rem;
	height: 1rem;
	background: t(purpleColor);
	content: '';
	display: inline-block;
	position: relative;
	top:0.2rem;
	right:-0.06rem;
	border-bottom-right-radius: 1rem;
  	border-top-right-radius: 1rem;
}
 
.THIS .claimant-status {
	padding-left: 0.5rem;
}

/*Needs Attention Icon*/
.THIS .needs-attention-icon use {
	fill:t(redColor);
}

.THIS .needs-attention-sort-icon use {
	fill:#aaaaaa;
}

.THIS .claimant-list th, .THIS .claimant-list td {
	padding: 0rem .5rem 0rem .5rem;
}

.THIS a.slds-th__action.slds-text-link_reset {
	padding: .5rem 0;
}

.THIS .no-alert {
	line-height: 2;
}


.THIS a.slds-th__action.slds-text-link_reset.na-column {
	position: relative;
	left: 0.6rem;

}
/*Filter*/

.THIS .actionMenu.popupTargetContainer.uiPopupTarget.uiMenuList.uiMenuList--default {
	left:15%;
}

.THIS button.slds-button.slds-page-header__title.slds-text-color--default.slds-p-right--x-small {
	color: t(purpleColor);
}

.THIS .slds-button:hover {
	text-decoration: underline;
}

/* Start PD-1218*/

.THIS .spinner-card {
	position: relative;
	left: 20rem;
}

/* End PD-1218*/