/* Updated: Marc Dysart - Sept 2017 for September Release
   Purpose: PD-1043 - Action Page Cleanup*/

   
    /* PD-1043 */
/*Lightning Card Styling*/

.THIS .slds-icon_container {
    font-weight: 900;
    padding-left: 0.5rem;
}


.THIS .alert-icon {
    background: #679ef0;
    padding: 0.1rem 0.25rem .25rem .25rem;
    font-size: .8rem;
}

.THIS .alert-icon use {
    fill:t(whiteColor);;
}

article.slds-card.THIS {
    border: 2px solid t(grayColor)!important;
}