/*  Created: lmsw - January 2017 first draft
    Purpose: PD-168 - Title Section on the Claimant Detail Page

History:
	
	Updated: lmsw - February 2017 for Mqrch Release
	Purpose: PD-168- Simplify css and change position of circle

	Updated: lmsw - February 2017 for March Release
	Purpose: PD-393 - Added style to Synopsis section;

	Updated: Marc Dysart - March 2017 for March Release
	Purpose: PD-443 - Breadcrumbs in Lien & Claimant pages

	Updated: lmsw - Sept 2017 for Sept Release
	Purpose: PD-966  - Add notice to Title;
 */
 
.THIS .statusbutton {
	
}

.THIS .uiInput--select.select:not([multiple]).statusbutton {
	padding-left: 30px;
	padding-right: 20px;
}
/* Default circle in Claimant status button */
.THIS .defaultCircle {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	position: relative;
	left: -188px;
	margin-top: 8px;
}
/* Red circle in Claimant status button */
.THIS .redCircle {
	background-color: #ef6e64;
}
/* Green circle in Claimant status button */
.THIS .greenCircle {
	background-color: #4bca81;
}
/* Yellow circle in Claimant status button */
.THIS .yellowCircle {
	background-color: #f2cf5b;
}
/* Style for synopsis */
.THIS .synopStyle {
	border-top: solid 2px;
	border-color: #D8DDE6;
	margin-top: 20px;
	padding-top: 20px;
}

/*start PD-443 */
.THIS .last-breadcrumb {
	padding-left: 8px;
}
/*end PD-443 */
/* Needs Attention */
.THIS .needs-attention-icon use {
	fill:t(redColor);
}
.THIS .dropWarning {
	padding-top: 20px;
	color: t(redColor);
    padding-left: 6rem;
    font-size: 1rem;
}
.THIS .notice {
	padding-right: 2.0rem;
}
/* This makes the dropdown text the same color as in standard */
.THIS .slds-dropdown__item>a {
    color: t(colorTextButtonDefault);
}

/* letter-spacing is set to 0rem to force letters in headers to be closer together, as it appears in standard components */
.THIS .headerText {
    letter-spacing: 0rem;
}

/* This puts some extra padding below the tables so the dropdown isn't obscured */
.THIS .internalNeedsAttentionTable, .THIS .portalNeedsAttentionTable {
    padding-bottom: 2rem;
}

/* This puts some extra line spacing in the rows */
.THIS .internalNeedsAttentionTable td, .THIS .portalNeedsAttentionTable td {
    padding: .5rem .5rem;
}

/* This makes the last dropdown menu go up instead of down. */
.THIS tr:last-child .slds-dropdown-trigger .slds-dropdown {
    top: inherit;
    bottom: 0 !important;
}

/* This creates the light rounded-corner border */
article.slds-card.THIS {
    border: 1px solid t(grayBorderColor) !important;
}

/* This puts some padding to the left of the icon, and the right of the button */
.THIS .slds-card__header {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

/* This adds some padding on the left side of the message displayed when there are no Needs Attention */
.THIS .noNeedsAttentionsMessage {
    padding-left: 1rem;
}

/* This adds a thicker divider to visually separate the 'Other' rows from the 'Current' rows */
.THIS .firstOtherRowTd {
    border-top-width: 1rem;
}