/*  
	Created: lmsw - July 2017
    Purpose: PD-862 - Creation of the Injuries Component on the Claimant Info Tab
*/
.THIS header.slds-card__header.slds-grid {
	background: t(grayColor);
	padding-top: 0.1rem;
	padding-left: 0.5rem;
}

.THIS span.slds-icon_container {
    color:t(purpleColor);
}

.THIS .card-title {
    padding: .4rem 0 .5rem .1rem;
}

.THIS .lien-status-icon {
	background: t(yellowColor);
	padding: 0.2rem auto;
}

.THIS img.slds-icon {
    margin-right: 0.5rem;
}

.THIS .slds-card__footer {
	background: t(grayColor);
}

.THIS .alert-number {
	font-size: 2rem;
}

.THIS .slds-grid.slds-wrap {
	margin-left: 1.2rem;
}

.THIS .slds-size_5-of-6 {
	padding-bottom: 0.8rem;
}

.THIS .amount {
	text-align: right;
	padding-right: 8rem;
}

.THIS .amount-title{
	text-align: right;
	padding-right: 7rem;
}