/* 
	Created: Marc Dysart - June 2017 for July Release
    Purpose: PD-814 - Creation of Portal Header Component
*/

/********************************/
/***Menu when loaded initially***/
/********************************/

.THIS.menu-bar {
	background: #878887;
	
}
.THIS ul {
	list-style-type: none;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.THIS li a {
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
	text-transform: uppercase;
}

.THIS li.menu-icon-section a {
	padding: 5px 8px;
}

.THIS li {
	float: left;
}

.THIS li#dropdown-menu, .THIS .menu-icon{
	display: inline-block;
}

.THIS .menu-icon {
	color: #fff;
}

.THIS #matter-list.hide-matter-list {
	display: none;
}
/******************/
/***Hover colors***/
/******************/

.THIS li:hover, .THIS li a:hover, .THIS .menu-icon-section:hover .menu-icon  {
	background: #fff;
	color: #000;
}


.THIS .menu-icon:hover{ 
	color: #878887;
}

.THIS #dropdown-menu a:hover {
	background-color: #f1f1f1
}



/***********************/
/*****Dropdown Menu*****/
/***********************/


.THIS #dropdown-menu{
	display: none;
	background: #fff;
	/*border: solid #878887 2px;*/
	position: absolute;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 99;
 }

 .THIS #dropdown-menu a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.THIS .menu-icon-section:hover #dropdown-menu {
    display: block;
}


/***********************/
/****Responsiveness*****/
/***********************/

@media screen and (max-width: 615px) {
	.THIS  li.word-menu-item {
		display: none;
	}
}