/*
	Created: Marc Dysart - June 2017 for July Release
    Purpose: PD-844 - Creation of Activity Component on Claimant Page 

History:

	Updated: lmsw - October 2017 for October Release
	Purpose: PD-981 - Modify icon for lien update

	Updated MJD - October 2017 for October Release
	Purpose:  PD-1066 Medicare Liens Don't Show Final Amounts In Lien Amount Details Section

 */

.THIS li.slds-m-right_large {
    margin-right: 0px;
}

.THIS .hideActivity {
	display: none;
}

.THIS h3 {
	color: t(purpleColor);
}

.THIS h3.slds-text-heading_small.activity-title {
	padding-bottom: 1.0rem;
    padding-top: .4rem;
    text-transform: uppercase;
}
.THIS ul {
	padding-top: 1rem;  /*PD-1066*/
}

.THIS .slds-icon-standard-log-a-call,.THIS .slds-timeline__media_call:before{
	background: t(purpleColor);
}
/* Change icon and color for a Lien update event */
.THIS .slds-icon-standard-timesheet-entry,.THIS .slds-timeline__media_event:before{
	background: t(yellowColor);
}
/* Inverse color for the Event icon */
.THIS .event-icon {
	background: t(whiteColor);
	border: #e9af67 1px solid;
}
.THIS .event-icon use {
	fill: t(yellowColor);
}

/*Start PD-1066*/
.THIS .slds-timeline__date, .THIS .slds-text-title {
	font-size: small;
}

.THIS .slds-media__figure {
	margin-right: .5rem!important;
	z-index: 1;
}

.THIS .slds-media__figure.slds-media__figure_reverse {
    margin-top: 0rem; 
    margin-right: 0;
}

.THIS .slds-timeline__media:before,.THIS .slds-media_timeline:before,.THIS .slds-media--timeline:before {
	z-index: 0;
}

/*End PD-1066*/