/* This makes the dropdown text the same color as in standard */
.THIS.slds-dropdown__item>a, .THIS .slds-dropdown__item>a {
    color: t(colorTextButtonDefault);
}

/* letter-spacing is set to 0rem to force letters in headers to be closer together, as it appears in standard components */
.THIS.headerText, .THIS .headerText {
    letter-spacing: 0rem;
}

/* This puts some extra padding below the table so the dropdown isn't obscured */
.THIS.awardLienTable, .THIS .awardLienTable {
    padding-bottom: 3rem;
}

/* This puts some extra line spacing in the rows */
.THIS.awardLienTable td, .THIS .awardLienTable td {
    padding: .5rem .5rem;
}

/* This makes the last dropdown menu go up instead of down. */
.THIS tr:last-child .slds-dropdown-trigger .slds-dropdown {
    top: inherit;
    bottom: 0 !important;
}

/* This creates the light rounded-corner border */
article.slds-card.THIS {
    border: 1px solid t(grayBorderColor) !important;
}

/* This puts some padding to the left of the icon, and the right of the button */
.THIS .slds-card__header {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

/* This adds some padding on the left side of the message displayed when there are no AwardLiens */
.THIS .noAwardLiensMessage {
    padding-left: 1rem;
}