/* 
	Created: lmsw - June 2017 for June Release
    Purpose: PD-864 - Claimant Fees for the portal

History:

	Updated: lmsw - July 2017
	Purpose: Modify spacing in table
*/
.THIS header.slds-card__header.slds-grid {
	background: t(grayColor);
	padding-top: 0.1rem;
	padding-left: 0.5rem;
}
.THIS .slds-card__footer {
	background: t(grayColor);
}
.THIS .tableBorder {
	padding-left: 3rem;
	padding-right: 3rem;
}
.THIS .awardName {
	text-decoration: underline;
}
.THIS .subTotal {
	border-top: .15rem solid gray;

}
.THIS .amtRight {
	text-align: right;
	padding-right: 4rem;
}
.THIS .totalRight {
	text-align: right;
	padding-right: 4rem;
}