/* 
	Created: Marc Dysart - June 2017 for July Release
    Purpose: PD-813 - Development of the Portal Home Page

History:

    Updated: lmsw - August 2017
    Purpose: Add Law Firm Name to page

    Updated: lmsw - November 2017 for December Release
	Purpose: PD-1264 - Add Legal Terms before access to portal

	Updated: MJD - December 2017 for January Release
	Purpose: PD-1132 - SPIKE - Browser Compatibility Testing

*/
.THIS .home-title{
	text-align: center;
	margin-bottom: 0rem;
}

.THIS .matter-grid {
	overflow: hidden;
	text-align: center;
}

.THIS .matter-choice{
	border-radius: 50%;
	height: 240px;
	width: 240px;
	background: t(purpleColor);
	position: relative;
	margin: 20px;
	padding: 5px 10px;
	display: inline-block;
	border: 10px solid t(yellowColor);
	box-shadow: 0 0 10px #888;
}

.THIS .matter-name{
	position: absolute;
	top: 27%;
	left:0;
	bottom:0;
	right:0;
	color: #fff;
	text-transform: uppercase;
	line-height: 40px;
}

.THIS h1.matter-name  {
	text-align: center;
}

.THIS a:hover .matter-name{
	color: t(yellowColor);
	
}
.THIS a:hover .matter-choice{
	border: 10px solid t(purpleColor);
}

/*Needs attention*/
.THIS .needs-attention-icon use {
	fill:t(redColor);
}

.THIS .needs-attention {
	position: relative;
    top: 7rem;
    color: t(whiteColor);
}

.THIS a:hover .needs-attention{
	color: t(yellowColor);
	
}
.THIS h3{
	text-align: center;
	font-size: 1.25rem;
}
/*  Style for Legal Terms Modal */
.THIS .slds-modal__container {
	max-width: 90rem !important;
	width: 90% !important;
}
.THIS .checkBox {
	display: inline-block;
	margin-right:.4rem;
}
.THIS .termsCheckBox {
	display: inline-block;
	text-align: left;
	width:100%;
}
.THIS .termButtons {
	float:right;
	margin-left:1rem;
}

/* PD-1132 */

.THIS .slds-modal__container.hide-legal-terms {
	display: none;
}