/*
	Created: Marc Dysart - June 2017 for July Release
    Purpose: PD-845 - Creation of the Lien Title Section Component on Lien Page

    Updated: Marc Dysart - Sept 2017 for Sept Release
    Purpose: Align icons for Lien Title and Synopsis Section;

    Updated: Marc Dysart - Nov 2017 for Dec Release
    Purpose: PD-1286 -  Develop Video element for the Help Page (Support - mp4 video files)
*/


/*Large Icon*/

.THIS .title-icon {
	background: none;

}

.THIS .title-icon use {
	fill: t(whiteColor);
}

.THIS .slds-icon--large {
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
	top: 0.25rem;
	left: 0.25rem;

}

/*This includes the circle in the background*/

.THIS .slds-media__figure {
	margin-top: -.8rem;
    margin-right: 0rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background: t(yellowColor);
    position: relative;
    top: 1rem;
    margin-right: 0.5rem;
}
.THIS .slds-media.slds-media_top {
	margin-left: -1.0rem;  /*Align icons*/
}    


/*Large Text Format*/
.THIS.title-section {
	background: t(whiteColor);
}


.THIS .title-text p {
	color: t(purpleColor);
}

.THIS .slds-text-heading_large {
	line-height: 1.0;
	font-weight: 500;
}

.THIS .slds-text-heading_small {
	line-height: 1.1;
	font-weight: 500;
}

.slds-page-header.THIS {
    background: #fff;
    border-bottom: 0px;
    padding: 0 0 1rem 1rem;
    /*padding-bottom: 2rem!important;*/
} 

.help-synopsis.THIS{
	background: t(grayColor);
	padding: .5rem;
}

/*Help Buttons*/

.THIS .help-button {
    height: 4rem;
    width: 80%;
    background: t(purpleColor);
    display: inline-block;
    box-shadow: 0 0 10px #888;
    /*border: 2px solid t(purpleColor);*/
}

.THIS .yellow-button {
	background: t(yellowColor);
}

.THIS .buttons-section {
	text-align: center;
	padding-top: 1rem;
}

.THIS .button-text {
	font-size: medium;
	color: t(whiteColor);
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	font-weight: 700;
}

.THIS a:hover .button-text{
	color: t(purpleColor);
	
}
.THIS a:hover .help-button{
	/*border: 0.5rem solid t(purpleColor);*/
	background: t(yellowColor);
}

.THIS .button-column{
	padding-bottom: 1rem;
}
@media(max-width: 900px){
	.THIS .help-button {
     	height: 6rem;
	}
}

/* Start PD-1286 */

.THIS a:hover .help-button.yellow-button{
	background: t(purpleColor);
}

.THIS a:hover .help-button.yellow-button .button-text{
	color: t(yellowColor);
	
}

.THIS .video-section {
	position: relative;
	top: -0.5rem;
}

@media (min-width: 768px) and (max-width: 900px){
	.THIS .video-section {
     	top: 2.5rem;
	}
}

.THIS .regular-video {
	 display: block;
     margin: 0 auto;
}
@media (min-width: 600px){
	.THIS .regular-video {

     	width: 400px;
     	height: 245px;
	}
}

/*This is to show a video on a mobile device*/
@media (max-width: 600px){
	.THIS .regular-video {
		width: auto;
     	height: auto;
	}
}

/* End PD-1286 */