/*
	Created: Marc Dysart - June 2017 for July Release
    Purpose: PD-843 - Creation of the Claimant Kanban Status Component

    Updated: Marc Dysart - Dec 2017 for January Release
    Purpose: PD-1285 - Modify CSS to accommodate MS Edge / Internet Explorert
 */

.THIS .slds-tabs_path__item+.slds-is-current:before {
	background: t(purpleColor);
}

.THIS .slds-tabs_path__item {
	text-align: left;
}

.THIS .slds-has-dividers--around-space>.slds-item {
	margin: 0.25rem 0;
}

.THIS .listcontent {
	flex: 2;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 5px;
    margin: 0;
    border-left: rgb(216, 221, 230) 1px solid;
    min-height: 300px;
    }

.THIS .kanban-edit-lien {
	text-align: right;
}

.THIS .hideCard {
    display: none;
}

.THIS .new-lien-button {
    position: absolute;
    right: 10px;
}


.THIS .actionMenu {
    width:12.5rem;
}


.THIS .actionMenu li.uiMenuItem {
    height: 2.0rem;
    text-align: left;
    padding-left: 0.5rem;
}

.THIS .actionMenu li.uiMenuItem a {
    height: 2.0rem;
    padding: 0; 
}

 
.THIS .lien-substage {
    font-style: italic;
    font-weight: 600; 
}
.THIS .hide-substage {
    display: none;
}

.THIS .changeRecordTypeRow {
        margin-top: 1.5rem;
        margin-bottom: 0;
        margin-left: 0;
}
.THIS .changeRecordTypeLeftColumn {
    float: left;
    padding-right: 1.5rem;
    width: 45%;
    font-size: .8125rem;
    color: rgb(84, 105, 141);
   
}
.THIS .changeRecordTypeRightColumn {
    float: right;
    text-align: left;
    width: 75%;
}
.THIS .changeRecordTypeOptionRightColumn {
    width: 90%;
    float: right;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.THIS .modal-body {
    height:auto !important;
    padding:0;
}

.THIS .slds-form-element__control span.slds-form-element__label {
    padding-left: .9rem;
    padding-bottom: 0.25rem;
    font-size: .8125rem;
}

.THIS .slds-modal__container {
    padding-top: 0rem;
    margin-top: 0rem;
}

.THIS fieldset.slds-form-element {
    width: 180%;
    left: -18%;
}

.THIS .slds-theme--info {
    color: rgb(22, 50, 92);
    background-color: rgb(255, 255, 255);
} 

.THIS ul.lien-card:nth-last-child(1) {
    margin-bottom: 50px;
} 

/*-----------*/
/*Portal CSS*/
/*-----------*/
.THIS .slds-tabs_path .slds-is-current {
	background: t(purpleColor);

}

.THIS span.slds-tabs_path__title {
	color: t(whiteColor);
	font-size: 0.8rem;
}

.THIS .slds-tabs_path__link {
	cursor: default;
}

.THIS td#Final{
	border-right: rgb(216, 221, 230) 1px solid;
}

.THIS p {
    font-size: small;
}

.THIS .slds-has-dividers--around-space>.slds-item:hover {
    border: rgb(216, 221, 230) 3px solid;
    cursor: pointer;
}

/* Start PD-1281  */
@media (min-width: 400px){
    .THIS .listcontent {
        min-width: 4.9rem;
    }
    .THIS .slds-tile_board, .THIS .slds-tile--board {
        max-width: 4.8rem;
    }
}

@media (min-width: 650px){
    .THIS .listcontent {
        min-width: 6.2rem;
    }
    .THIS .slds-tile_board, .THIS .slds-tile--board {
        max-width: 6.1rem;
    }
}

@media (min-width: 755px){
    .THIS .listcontent {
        min-width: 4.9rem;
    }
    .THIS .slds-tile_board, .THIS .slds-tile--board {
        max-width: 4.8rem;
    }
}

@media (min-width: 850px){
    .THIS .listcontent {
        min-width: 5.2rem;
    }
    .THIS .slds-tile_board, .THIS .slds-tile--board {
        max-width: 5.1rem;
    }
}
@media (min-width: 900px){
    .THIS .listcontent {
        min-width: 5.5rem;
    }
    .THIS .slds-tile_board, .THIS .slds-tile--board {
        max-width: 5.4rem;
    }
}
@media (min-width: 930px){
    .THIS .listcontent {
        min-width: 6.0rem;
    }
    .THIS .slds-tile_board, .THIS .slds-tile--board {
        max-width: 5.9rem;
    }
}
@media (min-width: 950px){
    .THIS .listcontent {
        min-width: 6.2rem;
    }
    .THIS .slds-tile_board, .THIS .slds-tile--board {
        max-width: 6.1rem;
    }
}
@media (min-width: 1050px){
    .THIS .listcontent {
        min-width: 7.0rem;
    }
    .THIS .slds-tile_board, .THIS .slds-tile--board {
        max-width: 6.9rem;
    }
}
@media (min-width: 1160px){
    .THIS .listcontent {
        min-width: 7.5rem;
    }
    .THIS .slds-tile_board, .THIS .slds-tile--board {
        max-width: 7.4rem;
    }
}

/* End PD-1281  */