/*
	Created: lmsw - June 2017
    Purpose: PD-839 - Matter Synopsis for Portal

History:
	
	Updated: lmsw - July
	Purpose: PD-839 - Modify layout position

	Updated: Marc Dysart - July 2017
	Purpose: PD-839 - Modify spacing and colors
*/

.THIS #cChart {
	width: 250px;
	height: 250px;
	position: relative;
}
.THIS #totalCount, .THIS #lawfirmtotalCount {
	top:29%;
	left:35%;
	width: 30%;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	position:absolute;
}

.THIS header.slds-card__header.slds-grid {
	background: t(whiteColor);
	padding-top: 0.1rem;
	padding-left: 0.5rem;
    border-top-left-radius: 1.0rem;
    border-top-right-radius: 1.0rem;
    border-bottom: 3px solid t(grayColor);
}
.THIS .slds-card__footer {
	background-color: t(whiteColor);
	border-top: 3px solid t(grayColor);
	border-bottom-left-radius: 1.0rem;
    border-bottom-right-radius: 1.0rem;

}

.THIS .slds-card__body {
	padding-left: 0.5rem
}

.THIS .slds-table th {
	padding-top: 0rem;
}

.THIS span.slds-icon_container {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    padding-left: 0.4rem;
    color:t(purpleColor);
}

.THIS img.slds-icon {
    margin-right: 0.5rem;
}


.THIS .alert-number {
	font-size: 2rem;
}

.THIS .slds-grid.slds-wrap {
	margin-left: 1.2rem;
}

.THIS .slds-size_5-of-6 {
	padding-bottom: 0.8rem;
}

.THIS .needs-attention-icon use {
	fill:t(redColor);
}

.THIS.matter-synopsis-section {
	background: t(grayColor);
}

.THIS .lien-summary-table {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.THIS .title {
	color: t(purpleColor);
	padding: 0.5rem 0 0.5rem 1.5rem;
}

.THIS .total-title {
	font-size: small;
	margin-bottom: -0.2rem;
}

.THIS #stripe {
	display: none;
}

.THIS tr.slds-hint-parent {
	line-height: 0.5;
}

.THIS .slds-col--padded .ui-widget {
	margin: 2rem 0 0 0;
}

.THIS .total-amount {
	font-size: large;
}