/*
	Created: lmsw December for January Release
	Purpose: PD-1281 Create custom component for the AwardLien Related list on the Lien Page.

History:
	Updated: lmsw December for January Release
	Purpose: PD-1281 Modify to add multiple checkbox.
*/

/* This makes the dropdown text the same color as in standard */
.THIS.slds-dropdown__item>a, .THIS .slds-dropdown__item>a {
    color: t(colorTextButtonDefault);
}
/* This makes the last dropdown menu go up instead of down. */
.THIS tr:last-child .slds-dropdown-trigger .slds-dropdown {
    top: inherit;
    bottom: 0 !important;
}
/* This creates the light rounded-corner border */
article.slds-card.THIS {
    border: 1px solid t(grayBorderColor) !important;
}
/* letter-spacing is set to 0rem to force letters in headers to be closer together, as it appears in standard components */
.THIS.headerText, .THIS .headerText {
    letter-spacing: 0rem;
}
/* This puts some extra padding below the table so the dropdown isn't obscured */
.THIS.awardLienTable, .THIS .awardLienTable {
    padding-bottom: 2.2rem;
}

/* This puts some extra line spacing in the rows */
.THIS.awardLienTable td, .THIS .awardLienTable td {
    padding: .5rem .5rem;
}
/* This puts some padding to the left of the icon, and the right of the button */
.THIS .slds-card__header {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
/* This adds some padding on the left side of the message displayed when there are no AwardLiens */
.THIS .noAwardLiensMessage {
    padding-left: 1rem;
}

/******************************/
/*  AwardLien Table style  */
/******************************/
.THIS .ddMenu {
	overflow: visible;
}
.THIS .leftSpace {
	padding-left:1rem;
}

/******************************/
/*  Confirmation Modal style  */
/******************************/
.THIS .slds-modal__header {
	background: t(whiteBase);
	color: t(colorTextDefault);
}
.THIS .slds-modal__container {
	margin-top: 0rem;
	padding: 1.0rem;
}

/***********************************/
/*  Create AwardLien Modal style  */
/***********************************/

.THIS .slds-modal__container.newAwardLien {
	width: 100%;
	max-width: 60rem;	
}

.THIS .awardLienModal {
	width: 100%;
	max-width: 60rem;
}
.THIS .award-list {
	padding-left:10%;
}

.THIS .uiInput.uiInputRadio {
	padding-top: 0.2rem;
}

.THIS .slds-form-element__label {
	padding-left: 0.5rem;
}

.THIS .new-award {
	margin-left: 25%;
}
.THIS .disableAward {
	font-style: italic ;
	padding-left:3%;
}
.THIS .awardsCheckbox {
	display: inline-block;
	float:left;
}
.THIS label.uiLabel-left.form-element__label.uiLabel {
	padding-left: 0.50rem;
	color: t(colorTextLinkDisabled);
}