.THIS {
}
.THIS .defaultCircle {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: center;
	background: #FFFFFF;
    border: rgb(0, 0, 0) 1px solid;
}
.THIS .redCircle {
	border-color: #ff0000;
}
.THIS .interior {
	font-size: 20px;
	margin-top: 15px;
	position: center;
}
.THIS .iconClass {
	fill: #54698d;
}
.THIS .surround {
	background: #f4f6f9;
	font-size: 10px;
}
.THIS .errorclass {
	fill: #ff0000;
}
.THIS .outline {
    margin: 0;
    padding: 0;
    border: rgb(0, 0, 0) 1px solid;
    width: 100%;
}