.THIS.card {
    margin: .25rem;

    /* Flex container properties */
    display: flex;
    flex-direction: row;
}

.THIS .label {
    font-size: .75rem;

    /* Flex child properties */
    flex-grow: 1;
}

.THIS .numLiens {
    font-size: .75rem;

    /* Flex child properties */
    /* (none) */
}

.THIS .inactiveLink {
    pointer-events: none;
    cursor: default;
}