/* 
	Created: lmsw - July 2017 
    Purpose: PD-865 - Claimant Fees for the portal

History:

	Updated: lmsw - July 2017
	Purpose: Modify spacing in table
*/
.THIS header.slds-card__header.slds-grid {
	background: t(grayColor);
	padding-top: 0.1rem;
	padding-left: 0.5rem;
}
.THIS .slds-card__footer {
	background: t(grayColor);
}

.THIS span.slds-icon_container {
    padding-bottom: .2rem;
    padding-top: .4rem;
    padding-left: .2rem;
    padding-right: 0.1rem;
}

.THIS .card-title {
    padding: .4rem 0 .5rem .1rem;
}

.THIS .lien-status-icon {
	background: t(yellowColor);
	padding: 0.2rem auto;
}

.THIS img.slds-icon {
    margin-right: 0.5rem;
}

.THIS .tableBorder {
	padding-left: 3rem;
	padding-right: 3rem;
}
.THIS .awardName {
	text-decoration: underline;
}
.THIS .subTotal {
	border-top: .15rem solid gray;
	padding-top: rem;
}
.THIS .amtRight {
	text-align: right;
	padding-right: 4rem;
}
.THIS .totalRight {
	text-align: right;
	padding-right: 4.5rem;
}
.THIS .noFees {
	margin-left: 1rem;
	font-style: italic;
}