/*
	Updated: lmsw - January 2018 for January Release
	Purpose: PD-1320 - Add Matter Report Links
*/

/* Large Icon */

.THIS .matter-icon {
	background: t(whiteColor);

}

.THIS .matter-icon use {
	fill:t(yellowColor);
}
/********************************/
/* Style for Matter Report Icon */
/********************************/
/* start PD-1320 */
.THIS .reportIcon {
	background: #FABA29;
	/*background: t(yellowColor);*/
}
.THIS .reportIcon use {
	fill:t(whiteColor);
}
.THIS button:hover .reportIcon {
	background: t(yellowColorHover);
}

/* end PD-1320 */

.THIS .slds-icon--large {
	width: 5rem;
	height: 5rem;
}

.THIS .slds-media {
	margin-left: -1.0rem;
} 

/*Large Text Format*/
.THIS.matter-title-section {
	background: t(whiteColor);
}

.THIS .lawfirm-title p {
	text-transform: uppercase;
	margin-top: 0.5rem;

}
.THIS .slds-col.lawfirm-title.slds-grid.slds-truncate {
    max-width: 60%;
}

.THIS .matter-title-text p, .THIS .lawfirm-title p {
	color: t(purpleColor);
}

.THIS .matter-title-text p.slds-text-heading_large.slds-truncate  {
	line-height: 1.2;
	margin-top: -0.2rem;
}

.THIS .slds-media__figure {
	margin-top: -.7rem;
    margin-right: 0rem;
}

.THIS .slds-text-heading_large {
	line-height: 1.0;
	font-weight: 500;
}

.THIS .slds-text-heading_small {
	line-height: 1.1;
	font-weight: 500;
}

@media screen and (max-width: 600px) {
	.THIS .lawfirm-title {
		display:none;
	}
}