/*
  Updated: Marc Dysart - Sept 2017 for Sept Release
  Purpose: Align icons for Lien Title and Synopsis Section

  */
.THIS .lien-synopsis{
	background: t(grayColor);
	padding: .5rem;
	margin-top: 1rem;
	width: 98.5%;  /*Align icons */
    margin-left: 0.5rem; /*Align icons */
}

.THIS .synopsisHeader{
	text-decoration: underline;
	padding-bottom: 2px;
}
.THIS .additional {
	padding-top: 4px;
}

.THIS p {
	font-size: small;
}

.THIS .claimant-synopsis .slds-size_1-of-1 {
	padding: 0.5rem;

}

.cPortal_Lien_Synopsis {
    margin: auto -1.5rem;
}

.THIS p.lien-amount {
    font-weight: 900;
    font-size: medium;
}