/*
	Created: Marc Dysart - June 2017 for July Release
    Purpose: PD-845 - Creation of the Lien Title Section Component on Lien Page

    Updated: Marc Dysart - Sept 2017 for Sept Release
    Purpose: Align icons for Lien Title and Synopsis Section;
*/


/*Large Icon*/

.THIS .title-icon {
	background: t(whiteColor);

}

.THIS .title-icon use {
	fill: t(yellowColor);
}

.THIS .slds-icon--large {
	width: 5rem;
	height: 5rem;
}

.THIS .slds-media__figure {
	margin-top: -.8rem;
    margin-right: 0rem;
}
.THIS .slds-media.slds-media_top {
	margin-left: -2.0rem;  /*Align icons*/
}    


/*Large Text Format*/
.THIS.title-section {
	background: t(whiteColor);
}

.THIS .lawfirm-title p {
	text-transform: uppercase;
}

.THIS .title-text p {
	color: t(purpleColor);
}

.THIS .slds-text-heading_large {
	line-height: 1.0;
	font-weight: 500;
}

.THIS .slds-text-heading_small {
	line-height: 1.1;
	font-weight: 500;
}


.THIS .last-breadcrumb {
	padding-left: 8px;
}

.THIS p.needs-attention {
	text-align: center;
}

.slds-page-header.THIS {
    background: #fff;
    border-bottom: 0px;
    /*padding-bottom: 2rem!important;*/
} 

@media screen and (max-width: 700px) {
	.THIS ul.slds-breadcrumb.slds-list_horizontal {
		display: inherit;
	}
}

.THIS .lien-content {
    padding-top: 1rem!important;
}

.THIS .lien-stagepath {
    padding-top: 1.5rem;
}