/*  
	Created: lmsw - June 2017
    Purpose: PD-847 - Creation of the Lien Status Bar Component

 History:
 
 	Updated: MJD - Oct 2017 for October Release
    Purpose: PD-1066 - Medicare Liens Don't Show Final Amounts In Lien Amount Details Section
    
*/
/*--------------*/
/* Path Current */
/*--------------*/
.THIS .slds-tabs_path__item.slds-tabs_path__link.slds-is-current{
	background: t(purpleColor);
}
.THIS span.slds-tabs_path__title {
	color: t(whiteColor);
}
/*---------------*/
/* Path Complete */
/*---------------*/
.THIS .slds-tabs_path__item.slds-tabs_path__link.slds-is-complete{
	background-color: t(yellowColor);
}
.THIS .slds-tabs_path__item.slds-tabs_path__link.slds-is-complete:before{
	background-color: t(yellowColor);
}
.THIS .slds-tabs_path__item.slds-tabs_path__link.slds-is-current:before {
	background-color: t(yellowColor);
}

/*Start PD-1066*/
.THIS .slds-media__figure {
    margin-top: 0rem!important;
}

.THIS .iconComplete {
	background:  t(yellowColor)!important;
}	

.THIS .title-icon use {
    fill: t(whiteColor)!important;
}
/*End PD-1066*/
/*-----------------*/
/* Path Incomplete */
/*-----------------*/
.THIS .slds-tabs_path__item.slds-tabs_path__link.slds-is-incomplete{
	background: t(grayColor);
}
.THIS .slds-tabs_path__nav > .slds-tabs_path__item.slds-tabs_path__link.slds-is-incomplete:before {
	background-color: t(purpleColor);
}

.THIS .slds-tabs_path__nav > .slds-tabs_path__item.slds-tabs_path__link.slds-is-incomplete ~ .slds-tabs_path__item.slds-tabs_path__link.slds-is-incomplete:before{
	background-color: t(grayColor);
}
.THIS span.titleIncomplete {
	color: black;
}
/*--------------*/
/* Substage box */
/*--------------*/
.THIS .subStageBox {
	text-align: center;
	margin-left: -.4rem;
    margin-right: -.5rem;
    margin-top: -9px;
    padding-top: 0.2rem;
    padding-bottom: .3rem;
    background-color: #f2f2f4;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    color: purple;
}

/*------------*/
/* Portal CSS */
/*------------*/
.THIS .slds-tabs_path__item {
	text-align: center;
}
.THIS .slds-has-dividers_around-space>.slds-item {
	margin: 0.25rem 0;
}
.THIS .slds-tabs_path__link {
	cursor: default;
}
@media screen and (max-width: 48rem) {
	.THIS .blankSubstage{
		display: none;
	}
	.THIS .currentSubstage {
		width: 100%;
		text-align:center;
	}
	.THIS .subStageBox {
		width:98%;
		display: inline-block;
	}
}