.THIS header.slds-card__header.slds-grid {
	background: t(grayColor);
	padding-top: 0.1rem;
	padding-left: 0.5rem;
}

.THIS span.slds-icon_container {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    padding-left: 0.4rem;
    color:t(purpleColor);
}

.THIS img.slds-icon {
    margin-right: 0.5rem;
}

.THIS .slds-card__footer {
	background: t(grayColor);
}

.THIS .alert-number {
	font-size: 2rem;
	position: relative;
    top: -0.2rem;
}

.THIS .slds-grid.slds-wrap {
	margin-left: 1.2rem;
}

.THIS .slds-size_5-of-6 {
	padding-bottom: 0.8rem;
}

.THIS .needs-attention-icon use {
	fill:t(redColor);
}

.THIS .slds-size_6-of-6.na-description {
    text-align: center;
    font-style: italic;
    padding-bottom: 1rem;
}