/*Created: Marc Dysart - February 2017 for first release
 Purpose: PD-115 -Kanban Lien - Claimant 

 History:
       Updated: Marc Dysart - March 2017 for first release
      Purpose: PRODSUPT-10 - Add substage in Kanban View

       Updated: Marc Dysart - April 2017 for first release
      Purpose: PRODSUPT-83 - Kanban: Adjustments to cards for PLRP and Non PLRP liens.*/ 

 .THIS {
}

.THIS .slds-tabs--path__item+.slds-is-current:before {
	background: rgb(0, 112, 210);
}

.THIS .slds-tabs--path__item {
	text-align: left;
}

.THIS .slds-has-dividers--around-space>.slds-item {
	margin: 0.25rem 0;
}

.THIS .listcontent {

	flex: 2;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 5px;
    margin: 0;
    border-left: rgb(216, 221, 230) 1px solid;
    min-height: 300px;
    }

.THIS .kanban-edit-lien {
	text-align: right;
}

.THIS .hideCard {
    display: none;
}

.THIS ul.kanban-filters {
    padding: 0 0 10px 10px;
}

.THIS .new-lien-button {
    position: absolute;
    right: 10px;
}

 /* STart PRODSUPT-83   */
.THIS .actionMenu {
    width:12.5rem;
}
 /* END PRODSUPT-83   */

.THIS .actionMenu li.uiMenuItem {
    height: 2.0rem;
    text-align: left;
    padding-left: 0.5rem;
}

.THIS .actionMenu li.uiMenuItem a {
    height: 2.0rem;
    padding: 0; 
}

 /* START PRODSUPT-83   */
.THIS .filter-dropdown {
    width: 14.5rem;
}
 /* END PRODSUPT-83   */
 
/* start PRODSUPT - 10 */
.THIS .lien-substage {
    font-style: italic;
    font-weight: 600; 
}
.THIS .hide-substage {
    display: none;
}
/* end PRODSUPT - 10 */

/* start PD-614  */
.THIS .changeRecordTypeRow {
        margin-top: 1.5rem;
        margin-bottom: 0;
        margin-left: 0;
}
.THIS .changeRecordTypeLeftColumn {
    float: left;
    padding-right: 1.5rem;
    width: 45%;
    font-size: .8125rem;
    color: rgb(84, 105, 141);
   
}
.THIS .changeRecordTypeRightColumn {
    float: right;
    text-align: left;
    width: 75%;
}
.THIS .changeRecordTypeOptionRightColumn {
    width: 90%;
    float: right;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.THIS .modal-body {
    height:auto !important;
    padding:0;
}

.THIS .slds-form-element__control span.slds-form-element__label {
    padding-left: .9rem;
    padding-bottom: 0.25rem;
    font-size: .8125rem;
}

.THIS .slds-modal__container {
    padding-top: 0rem;
    margin-top: 0rem;
}

.THIS fieldset.slds-form-element {
    width: 180%;
    left: -18%;
}

.THIS .slds-theme--info {
    color: rgb(22, 50, 92);
    background-color: rgb(255, 255, 255);
} 

.THIS ul.lien-card:nth-last-child(1) {
    margin-bottom: 50px;
}