/*    Updated: Marc Dysart - September 2017 for September Release
    Purpose: PD-998 - Create QC Component*/

.THIS .title {
    margin-left: 0.5rem;
    vertical-align: middle;
	border-collapse: collapse; 
}

.THIS .number {
    margin-right: 4px;
	vertical-align: top;
}
.THIS .Icon {
    vertical-align: bottom;
}
.THIS .warningIcon {
    vertical-align: bottom;
}
.THIS .warningIcon use {
    fill:t(orangeColor);
}

.THIS .slds-icon-standard-custom-notification.columnlabel {
    background-color: t(colorBackgroundNotificationNew);
}

.THIS .slds-icon-standard-custom-notification {
    background-color: #fff;
}

/*Start PD - 998*/

.THIS .previewIcon use {
    fill:t(blueColor);
}


.THIS .naCountValue {
    position: absolute;
    right: 0.25rem;
    top: -0.2rem;
}

.THIS .naCountValue-link {
    position: absolute;
    right: 0rem;
    top: -0.2rem;
}


.THIS .slds-has-dividers_around-space>.slds-item  {
    height: 5.5rem;
}


.THIS .NA-issue {
    padding-bottom: 2rem;
    width: 80%;
}

.THIS li.slds-item {
    margin-right: 0.12rem;
    margin-left: 0.12rem;
}

.THIS .hideIcon {
    display: none;
}

.THIS li.slds-item {
    position: relative;
}

.THIS li.slds-item span.slds-icon_container.slds-tile_board__icon {
    position: absolute;
    bottom: 0.5rem;
    right: 1.6rem;
}

.THIS .column-label {
    text-align: center;
    font-weight: 900;
    padding: 1rem 0 1rem 0;
    background: t(colorBackgroundNotificationNew);
    text-transform: uppercase;
}

.THIS .slds-grid.column-label .slds-size_1-of-3 {
    position:relative;
    right: 1rem;
}

/*Lightning Card Styling*/

.THIS .slds-icon_container {
    font-weight: 900;
    padding-left: 0.5rem;
}


.THIS .alert-icon {
    background: #ef6e64;
    padding: 0.1rem 0.25rem .25rem .25rem;
    font-size: .8rem;
}

.THIS .alert-icon use {
    fill:t(whiteColor);;
}

article.slds-card.THIS {
    border: 2px solid t(grayColor)!important;
}


/*End PD - 998*/