/*
    Created: Marc Dysart - June 2017 for July Release
    Purpose: PD-842 - Creation of Claimant Synopsis Section Component

History:

    Updated: lmsw - August 2017
    Purpose: PD-862 Add Compensable Injuries to Claimant Synopsis

    Updated: Marc Dysart - August 2017
    Purpose: PD-862 Add Compensable Injuries to Claimant Synopsis
 */
.THIS .claimant-synopsis{
	background: t(grayColor);
	padding: 0.3rem .5rem;
}

.THIS .synopsisHeader{
	text-decoration: underline;
	padding-bottom: 0.2rem;
}
.THIS .additional {
	padding-top: 0.5rem;
}
.THIS .injuryTitle {
	margin-top: -.7rem;
}
.THIS p {
	font-size: small;
}

.THIS .claimant-synopsis .slds-size_1-of-1 {
	padding: 0.5rem;

}
.THIS .smallFont {
	font-size: small;
	
	margin-top: -.8rem;
	padding-left: 0.5rem;
}

.THIS .outer-section-break {
	margin: 0 auto 0.5rem auto; 
	width: 90%;
}
.THIS .section-break {
	border-top: 1px solid rgb(105, 105, 105);
}

.THIS .injury-title {
	text-align: center;
	font-style: italic;
}

.THIS .top-synopsis, .THIS .claimant-synopsis .top-synopsis .slds-size_1-of-1, .THIS .top-synopsis .slds-size_1-of-1.slds-medium-size_1-of-4.slds-large-size_1-of-4 {
	padding-bottom: 0rem;
}

.THIS .slds-size_1-of-1.slds-medium-size_1-of-1.slds-large-size_1-of-1.synopsisHeader.injury-title-section {
	padding-top: 0rem;
}

.THIS .noEndDate {
	display: none;
}

.THIS .noinjuries {
	text-align: center;
	font-style: italic;
}