.THIS .slds-has-flexi-truncate.slds-has-divider_bottom.slds-p-horizontal_x-small.full.forcePageBlockItem.forcePageBlockItemView{
	margin:0 1rem;
}

.THIS .item-to-edit:hover .edit-icon use {
	fill: t(yellowColor);
}

.THIS .edit-icon use {
	fill: t(grayColor);
}

.THIS.slds-form.hide-section {
	display: none;
}

/*Needs Attention */
.THIS .needs-attention-icon use {
	fill:t(redColor);
}

.THIS .warning {
	font-size: small;
	color:t(redColor);
}
/*Edit Form*/

.THIS label.slds-form-element__label.slds-no-flex, .THIS label.slds-form-element__label, .THIS label.uiLabel-left.form-element__label.uiLabel{
    display: none;
}

.THIS#editForm {
    box-shadow: 1px 2px 4px 2px #878887;
}

.THIS .save-section {
	padding-top: .5rem;
	padding-bottom: .5rem;
}