<apex:page standardController="Action__c" showHeader="false" docType="html-4.01-strict">
<CRMC_PP:Grid ObjectName="Award__c" FKName="Action__c" FKValue="{!Action__c.Id}"  DelayLoad="false"  ViewID="a0p41000004MyBuAAK" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
<CRMC_PP:DrillUp />
</apex:page>