<apex:page standardController="Lien__c" showHeader="false" docType="html-4.01-strict">
<CRMC_PP:Grid ObjectName="InjuryLien__c" FKName="Lien__c" FKValue="{!Lien__c.Id}"  DelayLoad="false"  ViewID="a0p41000004N4ISAA0" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
<CRMC_PP:DrillUp />
</apex:page>