<!--
    Created: RAP - January/February 2017 for March Release
    Purpose: PD-82 - MVP - History Tracking
-->
<apex:page standardController="Lien__c" extensions="LienHistoryController" standardStylesheets="false" docType="HTML">
    <apex:stylesheet value="{!$Resource.SLDS221}/assets/styles/salesforce-lightning-design-system-vf.css" />
    <apex:outputPanel styleclass="IFS slds-scrollable--x">
        <apex:repeat value="{!lienH}" var="lh" >
            <apex:outputPanel rendered="{!lh.Field != 'created'}" >
            <div class="IFS slds-text-title">
                <b><apex:outputField value="{!lh.Field}"/></b>
            </div>
            <div class="IFS slds-truncate" >
                <apex:outputText value="Old Value: " />
                <apex:outputField value="{!lh.OldValue}" />
                <br/>
                <apex:outputText value="New Value: " />
                <apex:outputField value="{!lh.NewValue}" />
                <br/>
                <apex:outputText value="Changed By: " />
                <apex:outputField value="{!lh.CreatedBy.Name}" />
                <apex:outputText value=" - " />
                <apex:outputField value="{!lh.CreatedDate}" />
                <br/><br/>
            </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!lh.Field == 'created'}" >
            <div class="IFS slds-truncate" >
                <b><apex:outputText value="Created: " /></b>
                <apex:outputField value="{!lh.CreatedBy.Name}" />
                <apex:outputText value=" - " />
                <apex:outputField value="{!lh.CreatedDate}" />
                <br/><br/>
            </div>
            </apex:outputPanel>
        </apex:repeat>
    </apex:outputPanel>
</apex:page>