<apex:page sidebar="false" showHeader="false" docType="html-4.01-strict">
<div id="tabstrip" style="display:none;"> <ul> 
<li class="k-state-active">Transaction</li>
<li>ICD Code</li>
<li>Injury</li>
<li>InjuryLien</li>
<li>Ledger</li>
<li>Lien</li>
<li>ActionClaimant</li>
<li>Claimant</li>
</ul>
<!-- Transaction -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="Transaction__c" DelayLoad="true"  ViewID="a0p41000003OMDwAAO" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>

<!-- ICD Code -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="ICD_Code__c" DelayLoad="true"  ViewID="a0p41000003OMDrAAO" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>

<!-- Injury -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="Injury__c" DelayLoad="false"  ViewID="a0p41000003OMDhAAO" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>

<!-- InjuryLien -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="InjuryLien__c" DelayLoad="true"  ViewID="a0p41000003OMDmAAO" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>

<!-- Ledger -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="Ledger__c" DelayLoad="true"  ViewID="a0p41000003OME6AAO" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>

<!-- Lien -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="Lien__c" DelayLoad="true"  ViewID="a0p41000003OME1AAO" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>

<!-- ActionClaimant -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="ActionClaimant__c" DelayLoad="true"  ViewID="a0p41000003OMEGAA4" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>

<!-- Claimant -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="Claimant__c" DelayLoad="true"  ViewID="a0p41000003OMEBAA4" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>

</div>
<script>
$(document).ready(function() {
    $("#tabstrip").kendoTabStrip({
      activate: function(e){
        setTimeout(function(){          $(window).resize();        });
      }
    });
    $("#tabstrip").css("display", "block");
});
 </script>
</apex:page>