/*Large Icon*/

.THIS .title-icon {
	background: t(whiteColor);

}

.THIS .title-icon use {
	fill: t(yellowColor);
}

.THIS .slds-icon--large {
	width: 5rem;
	height: 5rem;
}

.THIS .slds-media__figure {
	margin-top: -.7rem;
    margin-right: 0rem;
}
.THIS .slds-media {
	margin-left: -1.0rem;
}    


.THIS .needs-attention-icon use {
	fill:t(redColor);
}

/*Large Text Format*/
.THIS.title-section {
	background: t(whiteColor);
}

.THIS .lawfirm-title p {
	text-transform: uppercase;
}

.THIS .title-text p, .THIS .claimant-status p {
	color: t(purpleColor);
}

.THIS .claimant-status p {
	text-align: right;
	line-height: 3rem;
	padding-left: 1rem;
}

.THIS .slds-text-heading_large {
	line-height: 1.0;
	font-weight: 500;
}

.THIS .slds-text-heading_small {
	line-height: 1.1;
	font-weight: 500;
}


.THIS .last-breadcrumb {
	padding-left: 8px;
}

.THIS p.needs-attention {
	text-align: center;
}

/*Status Circle*/
.THIS .statuscircle::before {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	content: '';
	display: inline-block;
	position: relative;
	top:0.5rem;
	right:0.5rem;
}
.THIS .circleNotReady::before {
	background: t(yellowColor);
}

.THIS .circleCleared::before {
	background: t(purpleColor);
}

.THIS .circleHoldbackleft {
	width: 1rem;
	height: 2rem;
	background: t(yellowColor);
	content: '';
	display: inline-block;
	position: relative;
	top:0.5rem;
	right:1.5rem;
	border-bottom-left-radius: 2rem;
  	border-top-left-radius: 2rem;
}

.THIS .circleHoldbackright::before {
	width: 1rem;
	height: 2rem;
	background: t(purpleColor);
	content: '';
	display: inline-block;
	position: relative;
	top:0.5rem;
	right:-0.5rem;
	border-bottom-right-radius: 2rem;
  	border-top-right-radius: 2rem;
}

.THIS .needs-attention-icon {
	background: t(whiteColor);
	padding-right: 0.5rem;
}

.THIS .needs-attention-icon use {
	fill: red;
}

.THIS p.status-reasoning {
	line-height: 0.5rem;
}

.THIS.claimant-synopsis {
    padding-top: 1rem;
}

.THIS .alert-message {
    position: relative;
    top: -1.8rem;
    left: 2.5rem;
    text-align: left;
}

@media t(mqMedium) {
	.THIS p.needs-attention {
		text-align: left;
	}
}
@media screen and (max-width: 47.9em) {
	.THIS .claimant-status p, .THIS p.needs-attention {
		text-align: center;
		padding-top: 1rem;
	}

	.THIS .needs-attention-icon {
		position: relative;
		right: 3.5rem;
	}
}