.THIS.lienSection {
}

.THIS .lienSectionHeader {
    margin-bottom: 1rem;

    /* Flex container properties */
    display: flex;
    flex-direction: row;
}

.THIS .lienSectionHeaderIcon {
    /* Flex child properties */
    /* (none) */
}

.THIS .lienSectionHeaderTitle {
    margin-left: 1rem;

    /* Flex child properties */
    flex-grow: 1;
}

.THIS .lienSectionHeaderButtons {
    /* Flex child properties */
    /* (none) */
}

.THIS .lienSectionSummary {
    margin-bottom: .5rem;

    /* Flex container properties */
    display: flex;
    flex-direction: row;
}

.THIS .lienSectionSummarySpacer {
    width: 10%;

    /* Flex child properties */
    /* (none) */
}

.THIS .lienSectionSummaryAllLiens {
    width: 30%;

    /* Flex child properties */
    /* (none) */
}

.THIS .lienSectionSummaryTotalInventory {
    width: 20%;

    /* Flex child properties */
    /* (none) */
}

.THIS .lienSectionSummaryCleared {
    width: 20%;

    /* Flex child properties */
    /* (none) */
}

.THIS .lienSectionSummaryPending {
    width: 20%;

    /* Flex child properties */
    /* (none) */
}

.THIS.inactive, .THIS .inactive {
    display: none;
}