.THIS.inactive, .THIS .inactive {
    display: none;
}

/* NOTE: The following two styles are commented out because we were trying to eliminate excess padding
         in the modal.  However, the styles are outside our component, therefore the settings have
         no effect.  This note is just for informational purposes.

.THIS.slds-p-around--medium, .THIS .slds-p-around--medium {
    padding: 0px !important;
}

.THIS.cuf-content, .THIS .cuf-content {
    padding: 0px !important;
}
*/

.THIS.sectionContainer, .THIS .sectionContainer {
    /* Flex container properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    /* Misc properties */
    height: 13.6rem; /* height should be equal to the Lightning Quick Action height less about 50 pixels for padding outside our component that we cannot control. */
}

.THIS.sectionHeader, .THIS .sectionHeader {
    /* Placeholder for future properties */
}

.THIS.sectionContent, .THIS .sectionContent {
    /* Flex container properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    /* Flex item properties */
    flex-grow: 1;
}

.THIS.message, .THIS .message {
    text-align: center;
}

.THIS.sectionFooter, .THIS .sectionFooter {
    /* Placeholder for future properties */
}